
@{
    ViewData["Title"] = "Create";
}

<h2>
    create
</h2>
<div>
    <form method="post" action="Save">
        <input placeholder="ID" name="id" />
        <input placeholder="Name" name="name" />
        <input placeholder="Price" name="price" />
        <input type="submit" value="Create" />
    </form>
</div>
